
body{
    color: black;
    
}




.f{
    background-color: chartreuse;
}

.p{
    background-color: cornflowerblue;
}

.b{
    background-color: coral
}

.s{
    background-color: darkkhaki;
}

.l{
    background-color: hotpink;
}

.e{
    background-color: darkorchid;
}

.table{
    text-align: center;
}